<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.FamilyShow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.FamilyShow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.FamilyShow.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Themes\Silver\SilverResources.xaml</value>
            </setting>
            <setting name="ShowPhotos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAncestors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDescendants" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInLaws" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCurrentSpouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPreviousSpouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSiblings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAuntsUncles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowImmediateFamily" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableUTF8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGenerations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBloodlines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ColumnRestriction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnPhotos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnCitations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnAttachments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnSurname" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnDateOfBurial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnDateOfDeath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnBirthPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnDeathPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnCremationPlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnCremationDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnBurialPlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnBurialDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnLiving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnEducation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnReligion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnID" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnOccupation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnAge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnSuffix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnDateOfBirth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFiltered" serializeAs="String">
                <value>True</value>
            </setting>
        </Microsoft.FamilyShow.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Microsoft.FamilyShow.Properties.Settings>
            <setting name="LanguagesFileName" serializeAs="String">
                <value>Languages.xml</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>Familty.Show</value>
            </setting>
        </Microsoft.FamilyShow.Properties.Settings>
    </applicationSettings>
</configuration>